{% extends "base.html" %}

{% block title %}Lin's BOdy Shop - List Bill{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>List Make, Model, and Year of all cars build before 1995 having less than 50000 miles</h2>
</div>
    <div class="table">
    <table class="table">
        <thead>
        <tr>
                <th>make</th>
                <th>model</th>
                <th>year</th>
        </tr>
        </thead>
        <tbody>
        {% for r in result.items %}
        <tr>
            <td>{{ r.make}}</td>
            <td>{{ r.model}}</td>
            <td>{{ r.year}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    {% from "bootstrap/pagination.html" import render_pagination %}
    {{ render_pagination(result) }}

{% endblock %}